@font-face {
  font-family: FiraCodeBold;
  src: url(../fonts/FiraCode-Bold.ttf);
}

@font-face {
  font-family: FiraCodeLight;
  src: url(../fonts/FiraCode-Light.ttf);
}

@font-face {
  font-family: FiraCodeMedium;
  src: url(../fonts/FiraCode-Medium.ttf);
}

@font-face {
  font-family: FiraCodeRegular;
  src: url(../fonts/FiraCode-Regular.ttf);
}

@font-face {
  font-family: FiraCodeRetina;
  src: url(../fonts/FiraCode-Retina.ttf);
}

@font-face {
  font-family: FiraCodeSemiBold;
  src: url(../fonts/FiraCode-SemiBold.ttf);
}

@font-face {
  font-family: FiraCodeVF;
  src: url(../fonts/FiraCode-VF.ttf);
}
